@use "./abstracts/" as *;

* {
  font-family: $font-primary;
  box-sizing: border-box;
  cursor: default;
  letter-spacing: -0.02em !important;
}

html {
  scroll-behavior: smooth;
  overflow-y: overlay;
}

body {
  padding: 0 !important;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
}

object,
svg {
  pointer-events: none;
  cursor: pointer;
}

::selection {
  background-color: rgba($primary, 0.3);
}

.fontPrimary {
  font-family: $font-primary;
}

.fontSecondary {
  font-family: $font-secondary;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  color: $dark;
  @include transition;

  &:hover {
    box-shadow: 0px 4px 40px -3px rgba($primary, 0.5);
    transform: translateY(-2px);
  }

  &.btn-primary {
    background-color: $primary;

    &:hover {
      color: $light;

      svg {
        fill: $light;
      }
    }
  }

  &.btn-tertiary {
    background-color: transparent;
    border: 2px solid $primary;
    color: $primary;

    &:hover {
      color: $secondary;
      border-color: $secondary;
    }
  }

  svg {
    width: 20px;
    cursor: pointer;
    @include transition;
  }
}

.form-label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
}

.form-control {
  padding: 14px 18px;
  box-shadow: none !important;
  border: 2px solid rgba($primary, 0.25);
  cursor: text;

  &:focus {
    border-color: $primary;
    box-shadow: 0px 6px 20px -9px rgba($primary, 0.25) !important;
  }
}

.navbar {
  padding: 20px 0;
  background-image: linear-gradient(
    to right,
    rgba($secondary, 0.3),
    rgba($primary, 0.3)
  );
  backdrop-filter: blur(25px);
  opacity: 1;
  transition: all 0.25s ease 0s !important;

  @media screen and (max-width: 1200px) {
    padding: 20px;
    background-image: linear-gradient(
      to left,
      rgba($primary, 0.2),
      rgba($light, 0.75)
    );

    .navbar-nav {
      margin: 20px 0;
    }
  }

  .navbar-brand {
    img {
      cursor: pointer;
    }
  }

  .navbar-nav {
    .nav-item {
      font-weight: 600;
      font-size: 16px;
    }

    .nav-link {
      position: relative;
      cursor: pointer;
      @include transition;
      color: $light;

      &.link-dark {
        color: $dark !important;
        margin: 0;
      }

      @media screen and (max-width: 1200px) {
        color: $dark;
      }

      &:after {
        content: "•";
        opacity: 0;
        color: $primary;
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        text-align: center;
        @include transition;
      }

      &:hover {
        color: $primary;
        transform: translateY(-2px);

        &:after {
          opacity: 1;
          bottom: -8px;
        }
      }
    }
  }

  .btn {
    font-weight: 600;

    svg {
      margin-right: 6px;
      fill: $dark;
    }
  }

  .btn-toggle {
    padding: 4px 8px;
    color: $secondary;
    background-color: transparent !important;
    border: none;
    box-shadow: none;

    svg {
      cursor: pointer;
    }
  }
}

.title-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  h1 {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    color: $light;
    text-shadow: 0px 6px 18px rgba($primary, 0.75);
  }

  @media screen and (max-width: $mobile-res) {
    height: 260px;

    h1 {
      font-size: 42px;
      top: 35%;
      bottom: 0;
    }
  }
}

.cta {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($dark, 0.15);
  }

  .container {
    z-index: 1;
  }

  p {
    font-size: 22px;
    font-family: $font-secondary;
    line-height: 1.75;
    font-weight: 500;
    color: $light;
    text-shadow: 0px 1px 20px rgba($dark, 0.75);
  }

  .btn {
    padding: 20px;
    font-size: 22px;
    width: 200px;
    box-shadow: 0px 4px 40px -3px rgba($secondary, 0.5) !important;
  }

  @media screen and (max-width: $mobile-res) {
    min-height: 0vh !important;
    padding: 20px;

    h1 {
      font-size: 28px;
      line-height: 1.1;
    }

    p {
      font-size: 18px !important;
      line-height: 1.6 !important;
      font-weight: 500 !important;
    }

    .btn {
      display: block;
      margin: auto;
      font-size: 18px;
      width: 200px;
    }
  }
}

.quote {
  font-family: $font-secondary;
  font-style: italic;
  font-weight: 600;
}

#homePage {
  #landingSection {
    position: relative;
    min-height: 100vh;
    background-image: url(../assets/images/home_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($dark, 0.3);
    }

    .container {
      z-index: 1;
    }

    h1 {
      font-size: 90px;
      font-weight: 600;
      line-height: 1;
      color: $light;
    }

    h5 {
      font-family: $font-secondary;
      font-size: 24px;
      font-style: italic;
      color: $light;
      opacity: 0.85;
      line-height: 1.75;
      margin: 20px 0;
    }

    .btn {
      padding: 20px 28px;
      font-size: 18px;
      font-weight: 600;
      box-shadow: 0px 4px 40px -3px rgba($secondary, 0.5);
    }

    @media screen and (max-width: $mobile-res) {
      min-height: 100vh;
      background-position: center;

      h1 {
        font-size: 60px;
        line-height: 1;
      }

      h5 {
        font-family: $font-secondary;
        font-size: 22px;
        opacity: 0.85;
        line-height: 1.5;
        margin: 20px 0;
      }
    }
  }

  .homeContent {
    h1 {
      font-size: 60px;
      font-weight: 700;
      text-align: center;
    }

    h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    p {
      font-size: 20px;
      font-family: $font-secondary;
      line-height: 1.75;
      font-weight: 500;
    }

    .tab1,
    .tab2,
    .tab3 {
      .img-box {
        position: relative;
        height: 500px;
        border-radius: 12px;
        overflow: hidden;
        padding: 0;
        box-shadow: 0px 4px 80px -10px rgba($primary, 0.5);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }

    .tab1 {
      .img-box {
        img {
          height: auto;
        }

        .text {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 30px;
          margin: 30px;
          color: $light;
          background-image: linear-gradient(
            to right,
            rgba($primary, 0.4),
            rgba($secondary, 0.5)
          );
          box-shadow: 0px 4px 80px -10px rgba($secondary, 0.5);
          border-radius: 9px;
          z-index: 1;

          h2 {
            font-size: 28px;
            font-weight: 600;
          }

          h4 {
            font-size: 18px;
            font-family: $font-secondary;
            font-weight: 600;
            margin-bottom: 20px;
            line-height: 1.4;
          }
        }
      }
    }

    @media screen and (max-width: $mobile-res) {
      min-height: 50vh !important;

      .tab1,
      .tab2,
      .tab3 {
        .img-box {
          width: 98%;
        }
      }

      h1 {
        font-size: 28px;
        line-height: 1.1;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .cta {
    background-image: url(../assets/images/home_img5.jpg);

    .btn {
      padding: 12px 18px !important;
      background-color: $light;
      color: $primary;
      width: fit-content;
    }
  }
}

#aboutPage {
  margin-top: 11vh;

  .title-box {
    background-image: url(../assets/images/about_img2.jpg);
  }

  .cta {
    background-image: url(../assets/images/about_img3.jpg);
  }

  p {
    font-size: 20px;
    font-family: $font-secondary;
    line-height: 1.75;
    font-weight: 500;
  }

  .img-box {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    height: 600px;
    padding: 0;
    float: left;
    box-shadow: 45px 30px 80px -20px rgba($primary, 0.25);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($dark, 0.1);
    }

    .btn {
      position: absolute;
      left: 7.5%;
      right: 0;
      bottom: 5%;
      z-index: 1;
      width: 85%;
      background-color: rgba($dark, 0.5);
      box-shadow: 0px 4px 40px -3px rgba($dark, 0.75) !important;

      &.btn-tertiary {
        border-color: $light;
        color: $light;
        display: flex;
        gap: 9px;
        justify-content: center;
        align-items: center;

        svg {
          width: 28px;
        }

        &:hover {
          box-shadow: 0px 4px 40px -3px rgba($light, 0.5) !important;
        }
      }
    }
  }

  #ptsModal {
    .close-btn {
      position: relative;
      display: flex;
      background-color: transparent;
      border-radius: 50px;
      font-size: 14px;
      padding: 10px;
      border: 1px solid $secondary;
      color: $secondary;
      box-shadow: none !important;
    }

    .btn-secondary {
      background-color: transparent;
      border: 1px solid $dark;
      color: $dark !important;
      box-shadow: none !important;
    }

    img {
      width: 200px;
      display: flex;
      justify-content: center;
      margin: 0 auto 0 auto;
    }

    @media screen and (max-width: $mobile-res) {
      .close-btn {
        font-size: 13px;
        padding: 6px;
      }

      img {
        width: 175px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .btn {
    padding: 12px 18px;
    font-size: 20px;
    width: fit-content;
    box-shadow: 0px 4px 40px -3px rgba($primary, 0.75) !important;

    &.btn-primary {
      background-color: $light;
      color: $primary;
    }

    &.btn-tertiary {
      background-color: transparent;
      color: $light;
      border-color: $light;
    }
  }

  @media screen and (max-width: $mobile-res) {
    .text-box {
      padding: 20px 30px;

      p {
        font-size: 18px;
      }
    }

    .img-box {
      height: 500px;
      float: none;
    }

    .title-box {
      h1 {
        top: 40%;
        bottom: 0;
      }
    }
  }
}

#contactPage {
  margin-top: 11vh;

  .title-box {
    background-image: url(../assets/images/contact_img.jpg);
  }

  p {
    font-size: 20px;
    font-family: $font-secondary;
    line-height: 1.75;
    font-weight: 500;

    span {
      font-family: $font-secondary !important;
      font-weight: 700;
    }
  }

  @media screen and (max-width: $mobile-res) {
    margin-top: 5vh;

    .container {
      padding: 0 4vw;
    }

    .title-box {
      h1 {
        top: 45%;
        bottom: 0;
      }
    }

    .text-box {
      p {
        font-size: 18px;
      }
    }
  }
}

#faqPage {
  margin-top: 11vh;

  .title-box {
    background-image: url(../assets/images/faq_img1.jpg);
  }

  .cta {
    background-image: url(../assets/images/faq_img2.jpg);
  }

  .accordion {
    .accordion-item {
      .accordion-button[aria-expanded="true"] {
        border-bottom: 1px solid $primary !important;
        color: $primary;

        &::after {
          background-image: url(../assets/icons/chevron-down-colored.svg);
        }
      }

      .accordion-button {
        position: relative;
        text-align: left;
        width: 100%;
        padding: 32px 0;
        color: $dark;
        font-size: 22px;
        font-weight: 600;
        box-shadow: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          color: $primary;
        }

        &::after {
          background-image: url(../assets/icons/chevron-down.svg);
          background-size: 120%;
        }
      }
    }

    .accordion-body {
      overflow: hidden;
      font-family: $font-secondary;
      font-size: 20px;
      font-weight: 500;
      color: $secondary;
      line-height: 1.75;
      margin: 12px 0;

      span {
        font-family: $font-secondary;
        font-weight: 600;
      }
    }
  }

  .btn-tertiary {
    padding: 12px 18px;
    width: fit-content;
    border-color: $light;
    color: $light;

    &:hover {
      box-shadow: 0px 4px 40px -3px rgba($light, 0.5) !important;
    }
  }

  @media screen and (max-width: $mobile-res) {
    .accordion {
      padding: 0 20px;

      .accordion-item {
        .accordion-button {
          padding: 24px 16px;
          font-size: 18px;

          &::after {
            background-size: 100%;
          }
        }
      }

      .accordion-body {
        font-size: 16px;
        line-height: 1.5;
        margin: 6px 0;
      }
    }
  }
}

#whatToExpectPage {
  margin-top: 11vh;

  .title-box {
    background-image: url(../assets/images/wte_img1.jpg);
  }

  .cta {
    background-image: url(../assets/images/wte_img2.jpg);
  }

  p {
    font-size: 20px;
    font-family: $font-secondary;
    line-height: 1.75;
    font-weight: 500;
  }

  h4 {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 28px;
    color: $primary;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: rgba($primary, 0.75);
    border-bottom: 1px solid rgba($primary, 0.3);
    @include transition;

    &:hover {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }

  .img-box {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    height: 600px;
    padding: 0;
    float: left;
    box-shadow: 45px 30px 80px -20px rgba($primary, 0.25);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($dark, 0.1);
    }
  }

  .btn {
    padding: 12px 18px;
    font-size: 20px;
    width: fit-content;
    box-shadow: 0px 4px 40px -3px rgba($primary, 0.75) !important;

    &.btn-primary {
      background-color: $light;
      color: $primary;
    }

    &.btn-tertiary {
      background-color: transparent;
      color: $light;
      border-color: $light;
    }
  }

  @media screen and (max-width: $mobile-res) {
    .text-box {
      padding: 20px 30px;

      p {
        font-size: 18px;
      }
    }

    .img-box {
      height: 500px;
      float: none;
    }

    h4 {
      font-size: 24px;
    }

    .title-box {
      h1 {
        top: 40%;
        bottom: 0;
      }
    }

    .btn {
      padding: 12px 18px;
      font-size: 18px;
    }
  }
}

#specialtiesPage {
  margin-top: 11vh;

  .title-box {
    background-image: url(../assets/images/specialties_img1.jpg);
  }

  .cta {
    background-image: url(../assets/images/specialties_img2.jpg);
  }

  p,
  li {
    font-size: 20px;
    font-family: $font-secondary;
    line-height: 1.75;
    font-weight: 500;
  }

  ul {
    margin: 0;
    padding: 0 20px;

    li {
      font-style: italic;
      padding: 4px 0;
    }
  }

  h4 {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 28px;
    color: $primary;
  }

  .btn {
    padding: 12px 18px;
    font-size: 20px;
    width: fit-content;
    box-shadow: 0px 4px 40px -3px rgba($primary, 0.75) !important;

    &.btn-primary {
      background-color: $light;
      color: $primary;
    }

    &.btn-tertiary {
      background-color: transparent;
      color: $light;
      border-color: $light;
    }
  }

  .img-box {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    height: 500px;
    padding: 0;
    box-shadow: 45px 30px 80px -20px rgba($primary, 0.25);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($dark, 0.1);
    }

    &.img-box1 {
      float: right;
    }

    &.img-box2 {
      float: left;
    }
  }

  @media screen and (max-width: $mobile-res) {
    .text-box {
      padding: 20px 30px;

      p,
      li {
        font-size: 18px;
      }
    }

    .img-box {
      width: 100%;
      height: 450px;
      float: none;

      &.img-box1,
      &.img-box2 {
        float: none;
      }
    }

    h4 {
      font-size: 24px;
    }

    .title-box {
      h1 {
        top: 40%;
        bottom: 0;
      }
    }

    .btn {
      padding: 12px 18px;
      font-size: 18px;
    }
  }
}

#servicesPage {
  margin-top: 11vh;

  .title-box {
    background-image: url(../assets/images/services_img1.jpg);
  }

  .cta {
    background-image: url(../assets/images/services_img2.jpg);
  }

  p {
    font-size: 20px;
    font-family: $font-secondary;
    line-height: 1.75;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: rgba($primary, 0.75);
    border-bottom: 1px solid rgba($primary, 0.3);
    @include transition;

    &:hover {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }

  h4 {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 28px;
    color: $primary;
  }

  .btn {
    padding: 12px 18px;
    font-size: 20px;
    width: fit-content;
    box-shadow: 0px 4px 40px -3px rgba($primary, 0.75) !important;

    &.btn-primary {
      background-color: $light;
      color: $primary;
    }

    &.btn-tertiary {
      background-color: transparent;
      color: $light;
      border-color: $light;
    }
  }

  .img-box {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    height: 500px;
    padding: 0;
    box-shadow: 45px 30px 80px -20px rgba($primary, 0.25);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($dark, 0.1);
    }

    &.img-box1 {
      float: right;
    }

    &.img-box2 {
      float: left;
    }
  }

  @media screen and (max-width: $mobile-res) {
    .text-box {
      padding: 20px 30px;

      p {
        font-size: 18px;
      }
    }

    .img-box {
      width: 100%;
      height: 450px;
      float: none;

      &.img-box1,
      &.img-box2 {
        float: none;
      }
    }

    h4 {
      font-size: 24px;
    }

    .title-box {
      h1 {
        top: 40%;
        bottom: 0;
      }
    }

    .btn {
      padding: 12px 18px;
      font-size: 18px;
    }
  }
}

footer {
  padding: 30px 0;
  background-image: linear-gradient(
    to left,
    rgba($secondary, 0.2),
    rgba($primary, 0.2)
  );

  p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;

  @media only screen and (max-width: 992px) {
    display: none;
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgba($secondary, 0.5);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
